body {
  background-color: #e7e7e7;
}
.header {
  width: 100%;
  text-align: center;
}
.headerimg {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.container {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
}
.img {
  max-width: 100%;
  height: auto;
  border: 50px solid #ffffff;
}
.font {
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  margin-right: 50px;
  margin-left: 50px;
}
.button {
  display: block;
  width: 400px;
  border: none;
  background-color: #00b389;
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  margin-right: 50px;
  border-radius: 8px;
  margin-bottom: 100px;
}
.footer {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font: Regular 14px/19px Open Sans, sans-serif;
  letter-spacing: 0;
}
